@font-face {
  font-family: 'Lato-Hairline';
  src: url('./font/thin/Lato-Hairline.eot');
  src: url('./font/thin/Lato-Hairline.woff2') format('woff2'),
       url('./font/thin/Lato-Hairline.woff') format('woff'),
       url('./font/thin/Lato-Hairline.ttf') format('truetype'),
       url('./font/thin/Lato-Hairline.svg#Lato-Hairline') format('svg'),
       url('./font/thin/Lato-Hairline.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('../font/regular/Lato-Regular.eot');
  src: url('../font/regular/Lato-Regular.woff2') format('woff2'),
       url('../font/regular/Lato-Regular.woff') format('woff'),
       url('../font/regular/Lato-Regular.ttf') format('truetype'),
       url('../font/regular/Lato-Regular.svg#Lato-Regular') format('svg'),
       url('../font/regular/Lato-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../font/bold/Lato-Bold.eot');
  src: url('../font/bold/Lato-Bold.woff2') format('woff2'),
       url('../font/bold/Lato-Bold.woff') format('woff'),
       url('../font/bold/Lato-Bold.ttf') format('truetype'),
       url('../font/bold/Lato-Bold.svg#Lato-Bold') format('svg'),
       url('../font/bold/Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
:root{
  --background-color:#F5F5F5;
  --primary-color:#44F12C;
}
html, body{
  margin:0;
  padding:0;
  font-family: 'Lato-Regular', sans-serif;
  background:var(--background-color);
  height:100vh;
  width:100%;
  overflow:hidden;
}
mobile-header{
  display:block;
  z-index:2;
  position:fixed;
  background:var(--background-color);
  height:60px;
  width:100%;

  box-shadow:0 3px 40px rgba(0,0,0,0.1);
}
header-button{
  display:block;
  height:60px;
  width:60px;
  cursor:pointer;
}
hamburger{
  display:block;
  pointer-events:none;
  z-index:1;
  height:60px;
  width:60px;
}
hamburger-top1{
  display:block;
  pointer-events:none;
  position:absolute;
  top:20px;
  left:16px;
  width:14px;
  height:2px;
  background:#9E9E9E;

  will-change:transform;
  transition:transform .15s ease-in-out;
}
hamburger-top2{
  display:block;
  pointer-events:none;
  position:absolute;
  top:20px;
  left:30px;
  width:14px;
  height:2px;
  background:#9E9E9E;

  will-change:transform;
  transition:transform .15s ease-in-out;
}
.hamburger-top1-active{
  transform:translate(2px, 4px) rotate(45deg);
}
.hamburger-top2-active{
  transform:translate(-2px, 4px) rotate(-45deg);
}
hamburger-middle1{
  pointer-events:none;
  position:absolute;
  top:29px;
  left:16px;
  width:14px;
  height:2px;
  background:#9E9E9E;

  will-change:transform, opacity;
  transition:transform .15s ease-in-out, opacity .15s ease-in-out;
}
hamburger-middle2{
  pointer-events:none;
  position:absolute;
  top:29px;
  left:30px;
  width:14px;
  height:2px;
  background:#9E9E9E;
  opacity:1;

  will-change:transform, opacity;
  transition:transform .15s ease-in-out, opacity .15s ease-in-out;
}
.hamburger-middle1-active{
  transform:translate(-32px, 0px);
  opacity:0;
}
.hamburger-middle2-active{
  transform:translate(32px, 0px);
  opacity:0;
}
hamburger-bottom1{
  pointer-events:none;
  position:absolute;
  left:16px;
  bottom:20px;
  width:14px;
  height:2px;
  background:#9E9E9E;

  will-change:transform;
  transition:transform .15s ease-in-out;
}
hamburger-bottom2{
  pointer-events:none;
  position:absolute;
  left:30px;
  bottom:20px;
  width:14px;
  height:2px;
  background:#9E9E9E;

  will-change:transform;
  transition:transform .15s ease-in-out;
}
.hamburger-bottom1-active{
  transform:translate(2px, -4px) rotate(-45deg);
}
.hamburger-bottom2-active{
  transform:translate(-2px, -4px) rotate(45deg);
}
.logo{
  pointer-events:none;
  height:100%;
  width:100%;
  background:transparent;
  transform:translateY(-6px);
}
cart{
  display:block;
  position:absolute;
  top:0;
  right:0;
}
.cart{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  transform:scale(-1, 1);
  pointer-events:none;
}
mobile-menu{
  display:block;
  box-sizing:border-box;
  z-index:1;
  position:fixed;
  top:60px;
  height:auto;
  width:100%;
  background:white;
  box-shadow:0 1px 1px 1px rgba(0,0,0,0.1);
  transform:translateY(-105%);

  will-change:transform;
  transition:transform .15s ease-in-out;
}
.mobile-menu-active{
  transform:translateY(0);
}
mobile-menu-item{
  display:block;
  box-sizing:border-box;
  padding:16px;
  height:60px;
  width:100%;
  color:#9E9E9E;
}



desktop-header{
  display:none;
  position:fixed;
  background:var(--background-color);
  height:60px;
  width:100%;

  box-shadow:0 3px 40px rgba(0,0,0,0.1);
}

/*ALL*/
#container{
  height:50vh;
}
.billboard{
  position:absolute;
  top:0;
  height:50vh;
  background:transparent;
  width:100%;
  text-align:center;
  font-size:32px;
  padding-top:125px;
}
.billboard-content{
  margin-top:32px;
  width:100%;
}
.billboard-button{
  display:inline-block;
  box-sizing:border-box;
  position:absolute;
  font-size:16px;
  padding:16px;
  background:black;
  color:white;
  border-radius:2px;
}

@media only screen and (min-width: 768px) {
  mobile-header{
    display:none;
  }
  mobile-menu{
    display:none;
  }
  desktop-header{
    display:block;
  }
}
